
<%= link_to "< Wstecz", lists_path, :class => 'button' %>
<br>
<h1>Nowa lista</h1>

<%= form_for :list, url: lists_path do |f| %>
  <p>
    <%= f.label :Nazwa %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.submit :Zapisz %>
  </p>
<% end %>
